*{
    margin: 0;
    padding: 0;
}
.misuc__head{
    height: 303px;
    position: relative;
}

.misuc__head .bg{
    width: 100%;
    height: 100%;
    background: url(https://rmrbcmsonline.peopleapp.com/upload/zw/bjh_image/1568713675_285644c3d4e8c328deea67f68456f44a.png);
    filter: blur(10px);     /* 虚化 (会将这个容器里的所有东西虚化)*/
}
.misuc__head-title{
    /* 当用了定位之后display等于没用了 */
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 0 59px;
    box-sizing: border-box;
}

.misuc__head-title .back{
    /* 浮动也会脱离文档流 */
    float: left;    
    color: white;
}
.misuc__head-title .title{
    text-align: center;
    font-size: 16px;
    color: white;
}